*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;

}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEFEF;
    background-image: url(./Rectangle\ 2.png);
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px 10px;
}
  
.products{
    height: 300px;
    width: 300px;
    flex-shrink: 0;
    /* background-color: pink; */
    object-fit: cover;
    object-position: center;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.products .image{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: #02528A;
    background-color: rgba(144, 141, 141, 0.441);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height: 100%;
    width: 100%;
    transition: linear ease-in-out .5s;

}
.products h3{
    color: #02528A;
    text-align: center;
}
.products:hover img{
    width: 125%;
    height: 125%;
    /* box-shadow:50px #706d6d; */
    /* box-shadow: 0px 6px 0px #706d6d; */
}

.page4{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
}
.page5{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
    
}
.page6{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
    
}
.page7{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
    
}

  